.info {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 16px;
    margin: 2rem 0rem;
    height: auto;
}

.container_info_cards {
    grid-row: 1/3;
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 2rem 0rem;
}

.info_card {
    width: 100%;
    height: auto;
    padding: 16px;
    /* border: 2px solid black; */
    border-radius: 8px;
    box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
}

.container_img_info{
    /* background-color: red; */
    display: none;
}

.container_img_info > img {
    height: 90%;
}



.info_card>h2,
p {
    color: black;
}

.info_card>
p {
    font-size: 16px;
    color: black;
    line-height: 1.5rem;
    
}

.info_card>h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}
